
*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 11%;
    font-size: 150px;
    color: #FF5733;
}

body {
    min-width: 800px;
    margin:0px;
    background-color: #ADCFB1;
}
  
  
  #trapezoid {
    box-sizing: content-box;
    height: 0;
    border-top: 0 solid;
    border-bottom: 100px solid rgba(1, 1, 1, .4);
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    text-overflow: clip;
    margin-top:-10px;
    position: relative;
    transition: all 0.7s ease;
    width: 100%;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    display:flex;
    overflow:hidden;
    justify-content: center;
    height: 54px;
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 6px;
    letter-spacing: 4px;
    transition: all 0.5s ease;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background:rgb(153,217,213);
    color: black;
    border-radius:5px;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;   
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none; 
  }
  
  .subnav-content a:hover {
    background:#B993D6;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
  }
  
  
  section  {
    margin:0em 10em 10em 10em;
    padding:3em 10em 3em 10em;
  }
  
  h1{
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 200px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  p {
    color: #111; 
    font-family: 'Calibri', sans-serif; 
    font-size: 25px; 
    line-height: 20px;
  }
  
  hr {
    background-color: #000;
  }
  
 .logoCentrer{
    height: 400px;
    width: 400px;
    display: block;
    margin: auto;
}
#descriptifMed {
    font-style: italic;
    text-align: center;
    text-transform:capitalize;
    background-color:rgb(153,217,213);
    margin-left: 180px;
    margin-right: 180px;
        
}

footer{
    background:rgba(0,0,0,0.5);
    width:100%;
    padding-top:5px;
    height:50px; 
    position: fixed;
    bottom: 0px;
}

p.copyright{
    text-align: center;
    font-size: 15px;
    padding: 3px;
}

.cvg{
    text-align: center;
    text-decoration: none;
    text-transform:capitalize;
  }

.cvg a{
  text-decoration: none;
}
.cvg a:hover{
  color:rgb(153,217,213);
}

/*mention legale */

h2#titreMention{
  margin-left: 1.5%;
  margin-top: 40px;
}
p#mentionLegaleP{
  font-size: 16px;
  margin-left: 5%;
  margin-bottom: 60px;
  margin-top: 10PX;

}

.accordion-button{
  background-color: rgba(23, 128, 63, 0.507);
}

.accordion-body{
  background-color: rgba(23, 128, 63, 0.356);
}

.logoNavbar{
  width: 45px;
  height: 38px;
  margin-top: 10px;
  margin-left: 60px;
}

#steps ul{
    margin: 0px 3px;
    list-style-type: none;
}
#steps ul li{
  width: 600px;
  float: left;  
  text-align: center;
  margin-right: 10px;
  
}
#steps p{
  margin-bottom: 20px;
  font-size: 20px;
}
#steps h4{
  text-transform: uppercase;
  margin-bottom: 25px;
}

#steps-2{
  background-image: ('../img/photoSiteBrice.jpg');
}

#photoDev{
  width: 130px;
  height: 150px;
  border-radius: 30%;
}

#DescriptionE{
  text-align:start;
}

